<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, inventore atque! Aliquid consectetur sapiente recusandae porro molestiae magni exercitationem ullam, perspiciatis laboriosam? Velit, consequuntur ut. Quos, sit exercitationem. Dolores, voluptatum.</p>
    </div>
</div>