<div class="jumbotron mt-4">
    <h1 class="display-4">Control de acceso</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum asperiores ad atque laudantium reiciendis nisi placeat et. Totam minima laudantium molestias blanditiis ab, quo, molestiae, dolor a exercitationem maxime modi.</p>
    <a href="http://autoacceso.cs.buap.mx" class="btn btn-primary btn-lg">Autoacceso</a>
</div>